/* STYLE CSS GENERAL DU SITE*/
/* GESTION DU RESPONSIVE
    PARAMETRAGE DES COLONNES */
::-webkit-scrollbar {
    display: none;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.row::after{
    content:'';
    clear:both;
    display:inline-flex;
}
[class*='col-']{
    float:left;
}
.bloc{
    box-shadow: 2px 2px 2px 2px black;
    background-color: #6E6E6E;
    align:center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(0.98);
    min-height: 200px;
}
/* DEFINITION DE LA GRIDE: EN COMBIEN DE COLONNE JE SOUHAITE DIVISER MA PAGE*/
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-2-5{width:20%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-7-5{width:62%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

#search_menu_link{
    position: fixed;


}

#search_menu *{
    link: none;
    color: #000;
}
#search_menu a li{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 36px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#search_menu a:hover{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: cornflowerblue;
}
#search_menu a li:hover{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: cornflowerblue;
}
#search_menu img{
    left: -10px;
    position: fixed;
    bottom: 0;
    width: 20%;
    height: auto;
    transform: scale(0.9);
}

.header {
    margin-bottom: 50px;
}

/*input[type=text] {*/
    /*text-align: left;*/
    /*margin-left: -85%;*/
    /*margin-top: 15px;*/
    /*border-color: grey;*/
    /*border-radius: 4px;*/
    /*border-width: 0.5px;*/
    /*width: 160px;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
/*}*/
.search_bloc span {
    margin-left: -35px;
    position: relative;
    z-index: 1;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    border-style: double;
    border-color: black;
    border-radius: 4px;

}

.search_bloc input[type=text], .glyphicon-search{
    float: left;
    margin-top: -15px;
}

#logo_bloc{
    position: relative;
    z-index: -999;
    margin-top: -70px;
    transform: scale(0.7);
}

.header {
    margin-bottom: 50px;
}

.footer {
    border-top: 0.5px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
    z-index: 999;
}
.hp_slide{
    width:100%;
    background:white;
    height:25px;
}
.hp_range{
    width:0;
    background:black;
    height:25px;
}
#main_menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    color: black;
    text-align: center;
    margin-top: 30px;
}
.page{
    position: relative;
    z-index: 1;
    margin-top: 55px;
    padding-left: 50px;
    margin-bottom: 55px;
}

#artist #img_banner{
    position: relative;
    width: 110%;
    height: 25%;
    margin-top: -100px;
    height: 160px;
    top:0px;
    z-index: 1;
}

#login_zone{
    display: none;
}
#connexion_popup_link a:active{
    background-color: #3498db;
}
#inscription_popup_panel{
    display: none;
}

.tuile_home_panel{
    opacity: 1;
}


#calque_nouveaute,#calque_top,#calque_pour_vous,#discovery_home img {
    text-align: center;
    color: white;
    transform: scale(0.95);
}
#calque_top,#calque_buzzlist,  .demi_tuile_home_discovery_img{
    height: 150px;
    text-align: center;
    color: white;
    transform: scale(0.95);
}
#calque_nouveaute, .full_tuile_home_discovery_img{
    height: 300px;
    text-align: center;
    color: white;
    transform: scale(0.95);
}
#calque_friends,#calque_pour_vous, .cus_tuile_home_discovery_img{
    height: 200px;
    text-align: center;
    color: white;
    transform: scale(0.95);
}
.tuile_home .span_full{
    padding-top: 120px;
    color: white;
    display:table-cell;
    vertical-align:middle;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
}
.tuile_home .span_cus{
    padding-top: 75px;
    color: white;
    display:table-cell;
    vertical-align:middle;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
}

.tuile_home .span_demi{
    padding-top: 60px;
    color: white;
    display:table-cell;
    vertical-align:middle;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
}

.tuile_home{
    background-size: cover;
    transform: scale(0.97);

}


#live_section{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent ;
    height: 90%;
    min-height: 90%;
    z-index: 999;
    margin-top: -65px;
    border: 0px 0px 2px black;

}
#live_section ul a {

     display: inline-block;
     margin-right: 10px;
    position: relative;
    z-index: 999;

 }
.vl {
    border-left: 0.5px solid black;
    height: 140%;
    position: fixed;
    z-index: 99;
    margin-top: -20%;
}

.vl1 {

    border-left: 0.5px solid black;
    height: 140%;
    position: absolute;
    z-index: 998;
    margin-left: 18.5%;
    margin-top: -20%;
}


#live_section ul a li{
    list-style: none;
    color: grey;
}

#live_section ul a li:hover{
    list-style: none;
    color: #3899ec;
}


#live_section ul{
    margin-left: 20%;
 }

#homepage_player{
    display: inline-block;
    margin-top: 6px;
 }

#homepage_player span{
    position: relative;
    z-index: 9999999;
    color: black;
    font-size: 18px;
    margin-top: -35px;
    margin-right: 5px;
 }

#login_zone ul{
    margin-bottom:0px;
    transform: scale(0.7);
}



.tuile_home, .tuile_top{
    position:relative;
}

.tuile_top{
    display: inline-block;
}
.tuile_home_panel_plus{
    border: black;
    border-style: solid;
    border: 2px;
    color: black;
}


.hexagon {
    z-index: -9999;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}
#hexagon_pp {
    height: 100px;
    width:100px;
    z-index: -9999;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}
.live_message {
    height: 50px;
    width: 50px;
    z-index: -9999;
    overflow: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}

.hexagon_live {
    height: 50px;
    width:50px;
    z-index: -9999;
    overflow: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}

#dtls_artist {
    position: absolute;
    margin-top: 50px;
}

#artist_pp {
    position: relative;
    z-index: 1111;
    margin-left: 20px;
    width: 150px;
    float: left;
    margin-top: -75px;
}

#artist_dtls {
    margin-top: -10px;
    transform: scale(0.92);
    text-align: left;
    margin-left: 20px;
    float: left;
}

.clip-svg {
    width: 0;
    height: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.polygon-clip-hexagon {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: url("#polygon-clip-hexagon");
    clip-path: url("#polygon-clip-hexagon");
}



.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon1 {
    width: 50px;
    height: 25px;
}

.dodecagon {
    width: 200px;
    height: 200px;
    margin: -90px 0 0 10px;
}

#progressBarControl{
    text-align: center;
    color: black;
    width: 100%;
}


#progressBar{
    padding-top: 5px;
    text-align: center;
    color: black;
    width: 100%;
    background-color: black;
    height: 10px;
    margin-bottom: 3px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
body {
    background-color: #3498db;
}



#loader-container {
    display: none;

    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 5px solid #3498db;
    border-radius: 50%;
    -webkit-animation: borderScale 1s infinite ease-in-out;
    animation: borderScale 1s infinite ease-in-out;
}

#loader-container-live {
    display: none;
    width: 200px;
    height: 200px;
    color: #3498db;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3498db;
    border-radius: 50%;
    -webkit-animation: borderScale 1s infinite ease-in-out;
    animation: borderScale 1s infinite ease-in-out;
    margin-top: -50%;
}

#loadingText {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
    0% {
        border: 5px solid white;
    }
    50% {
        border: 25px solid grey;
    }
    100% {
        border: 5px solid white;
    }
}

@keyframes borderScale {
    0% {
        border: 5px solid white;
    }
    50% {
        border: 25px solid grey;
    }
    100% {
        border: 5px solid white;
    }
}

#top_playlists,#discovery_new,#artist,.page_dtls-artist {
    display: none;
    text-align: center;
}
#top_playlists .tuile_top_case{
    width: 25%;
    height: 25%;
    background-size: cover;
    color: white;
    font-size: 18px;
    transform: scale(0.97);
}
#top_playlists .tuile_top_case span{
    padding-top: 120px;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
}
#top_playlists .tuile_top_case span h2{
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
}

.tuile_top {
    transform: scale(0.95);

}
.top_playlist {
   width:100%;

}
.page_dtls-artist {
    position:absolute;
    margin-top: 150px;
}

.tracklistname{
    color:black;
}
.trackname{
    color:grey;
}

.track{
    transform: scale(0.98);
}

.tuile_home_text {
    position: relative;

}
.live_section_screen{
    height: 100%;
}
#live_section_screen_message{
    display: none;
}

#live_section_screen_live .comment{
    padding: 10px;
    border-bottom: 1px solid black;
}

#live_section_screen_live .comment .comment-username {

    font-weight: 600;
}




.live_section_screen_live{
    display: none;
}

#menu_artist{
    margin-top:50px;
}

#menu_artist li{
    color: black;
    display: inline-block;
    padding-right: 25px;
}

#menu_artist {
    position: relative;
}

#admin_set_playlists {
    display: none;
}

#admin_playlist_popup {
}



.admin-bloc{
    background-color: #565656;
    transform: scale(0.7);
}
.admin_choice h2{
    margin-top: -500px;
    font-size: 39px;
    font-weight: bold;
}

.admin_choice {
    position: absolute;
    display: inline-block;
    box-shadow: 1px 1px 1px black;
    transform: scale(0.95);
    text-align: center;
    min-height: 300px;
    width: 48%;
    margin:0;
    height: 500px;
    padding:0;
}

.admin_choice_step_2 {
    margin-left: 26%;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 1px black;
    transform: scale(0.95);
    text-align: center;
    min-height: 300px;
    width: 48%;
    margin:0;
    height: 500px;
    padding:0;
}

.admin_choice img{
    z-index: -100;
    width: 100%;
    height: 100%;
}

table {

    border :1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

caption {

    font-size: 2em;
    margin: .25em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* Media Queries*/

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        display: none;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

/* Media Queries*/

@media screen and (min-width: 1340px) {

    #discovery_home {
        margin-top: 150px;
    }

    .full_tuile_home_discovery_img {
        height: 480px;
    }
    .demi_tuile_home_discovery_img {
        height: 250px;
    }
    .cus_tuile_home_discovery_img {
        height: 300px;
    }
}
