<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: API_INVALID_TRACKS_URL,
            contentType: 'application/json',
            timeout: 10000,
            success: function(tracks) {

                $.each(tracks, function(i, track) {

                    $('#admin-track-container').append(adminTrackComponent(track));
                });
            }
        })
    });
</script>


<table>
    <caption>Gestion des morceaux</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Publié par</th>
        <th>Date de création</th>
        <th>Valider</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody id="admin-track-container">
    {#<tr>#}
        {#<td>Izi</td>#}
        {#<td>Izi</td>#}
        {#<td>Izi</td>#}
        {#<td>Izi</td>#}
        {#<td>Izi</td>#}
        {#<td><button type="button" class="btn btn-success">Valider</button></td>#}
        {#<td><button type="button" class="btn btn-danger">Supprimer</button></td>#}
    {#</tr>#}
    </tbody>
</table>
