<br>
<button type="button" class="btn btn-danger" style="color:white; float: right; margin-right: 15px;">Déconnexion</button>
<br><br><a href="#" data-toggle="modal" data-target="#admin_playlist_popup">
<div class="admin_choice">
    <img src="img/admin/admin_choice_profile.jpg" alt="">
    <h2 style="color:black;">Modifier son profile</h2>
</div>
</a>

<a href="#">
<div class="admin_choice set_playlists" style="margin-left: 49%; ">
    <img src="img/admin/admin_choice_playlist.jpg" alt="">
    <h2 style="color: black">Gérer ses playlistes</h2>
</div>
</a>
<div id="admin_set_playlists" class="animated fadeIn">

    <a href="#">
        <div class="admin_choice_step_2 set_playlists">
            <img src="img/admin/add_play.png" alt="">
            <h2 style="color: black">Ajouter une playliste</h2>
        </div>

        <div class="admin_choice_step_2 set_playlists">
            <img src="img/admin/add_play.png" alt="">
            <h2 style="color: black">Supprimer une playliste</h2>
        </div>



    </a>

    <a href="#">
        <div class="admin_choice set_playlists" style="margin-left: 49%; ">
            <img src="img/admin/admin_choice_playlist.jpg" alt="">
            <h2 style="color: black">Supprimer une playliste</h2>
        </div>
    </a>

    <a href="#">
        <div class="admin_choice set_playlists" style="margin-left: 49%; ">
            <img src="img/admin/admin_choice_playlist.jpg" alt="">
            <h2 style="color: black">Gérer ses playlistes</h2>
        </div>
    </a>

</div>

<div class="modal fade" id="admin_playlist_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width100%; transform: scale(1.1)">
<div class="modal-dialog" role="document" style="width: 75%">
    <div class="modal-content" style="text-align: center;">
        <h2>Mofifier votre profile</h2>
        <div class="modal-body">
            <div class="wrapper">
                <form class="form-signin">
                    <img src="img/admin/avatar.jpg" alt="" style="width: 200px; height: 200px;">
                    <input type="file" class="form-control" name="profile_picture" placeholder="" required="" autofocus="" />
                    <br>
                    <img src="img/artist/banner/banner.jpg" alt="">
                    <input type="file" class="form-control" name="banner_picture" placeholder="" required="" autofocus="" />
                    <br>
                    <input type="text" class="form-control" name="Nom" placeholder="Nom" required="" autofocus="" />
                    <br>
                    <input type="text" class="form-control" name="Prénom" placeholder="Prénom" required="" autofocus="" />
                    <br>
                    <input type="textarea"class="form-control" name="Description" placeholder="Votre description" required="" autofocus="" style="height: 150px;" />
                    <br>
                    <label class="checkbox">
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %} Modifier {% endtrans %}</button>
                </form>
            </div>

        </div>
    </div>
</div sty sty>
</div>