<script src="../../player.js"></script></body>
<footer class="footer">
    <div>
        <audio id="myAudio" ontimeupdate="update(this)">
            {#<source src="../public/../track/Recording.mp3" type="audio/mpeg">#}
        </audio>
    </div>
    <div class="col-3">&nbsp;R</div>
    <div id="homepage_player" class="col-6">
        <span class="glyphicon glyphicon-step-backward"></span>
        <span id="start_audio" class="glyphicon glyphicon-play"></span>
        <span id="stop_audio" class="glyphicon glyphicon-pause" style="display: none;"></span>
        <span class="glyphicon glyphicon-step-forward"></span>
        <br>
        <div id="progressBarControl">
            <div id="progressBar"></div>
        </div>
    </div>
    <div class="col-3">&nbsp;

    </div>
</footer>
</html>
