<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SounBuzz!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel=stylesheet type=text/css href=css/style.css>
            <link rel=stylesheet type=text/css href="css/animate.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src=js/javascript.js id="js_javascript"> </script>
            <script src=js/components/trackComponent.js> </script>
            <script src=js/components/playlistComponent.js> </script>
            <script src=js/components/commentComponent.js> </script>
            <script src=js/components/adminTrackComponent.js> </script>
            <script src=js/constants.js> </script>
            <!-- Latest compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


        <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        </head>
<body>
<header class="header">
    <div id="main_menu" class="col-12 container">

        <div class="col-5">&nbsp; <div class="search_bloc">
            <input type="text" name="search" placeholder="    Recherche..">
            <span class="glyphicon glyphicon-search" style="color: #3498db;"></span>
        </div></div>
        <div class="col-2 animated" id="logo_bloc">&nbsp;
            <img class="col-12 " src="img/logo.png">

        </div>
        <div class="col-3">&nbsp;      </div>
        <div class="col-1" id="login_zone">&nbsp;
            <div class="hexagon hexagon1" style="margin-left: 35%;    margin-top: -35px;"><div class="hexagon-in1"><div class="hexagon-in2" style="background-image: url('img/wiz-khalifa-blacc-hollywood.jpg');     background-size: 150px 75px;background-repeat: no-repeat;
                "></div></div></div>
            <div class="hexagon col-12">
                <img src='img/wiz-khalifa-blacc-hollywood.jpg' class="col-12">
            </div>
        </div>
        <div class="col-1" id="loged_zone">&nbsp;
            <span id="connexion_link" class="glyphicon glyphicon-user" style="font-size: 24px;  margin-top:-80px;" data-toggle="modal" data-target="#connexion_popup"></span>
        </div>

        <div class="col-1">&nbsp;
            <span class="glyphicon glyphicon-bell" style="font-size: 24px; margin-top:-80px;"></span>
        </div>

    </div>
</header>
<div id="loader-container" style="position:absolute; z-index:999999">
    <p id="loadingText"><img class="col-12" src="img/logo.png" style="transform:scale(0.3)"></p>
</div>

<div class="modal fade" id="connexion_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="text-align: center">
            <div class="modal-body">
                <ul id="connexion_popup_link" style="display:inline-block; text-decoration: none; list-style: none">
                    <a href="#" id="go_to_connexion_panel" style="display:inline-block; color: black;margin-right: 15px;"><li><h4>{% trans %}Sign in{% endtrans %}</h4></li></a>
                    <a href="#" id="go_to_inscription_panel" style="display:inline-block; color: black;"><li><h4>{% trans %}Sign Up{% endtrans %}</h4></li></a>
                </ul>
                <div id="connexion_popup_panel">
                    <div class="wrapper">
                        <form class="form-signin">
                            <h2 class="form-signin-heading">{% trans %}Connexion{% endtrans %}</h2>
                            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                            <br>
                            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> {% trans %}Remember me{% endtrans %}
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %} Connexion {% endtrans %}</button>
                        </form>
                    </div>
                </div>
                <div id="inscription_popup_panel">
                    <div class="wrapper">
                        <form class="form-signin" id="inscription_user">
                            <h2 class="form-signin-heading">{% trans %}Inscription{% endtrans %}</h2>
                            <input type="text" class="form-control" id="full_name_reg" name="full_name" placeholder="Fullname" required autofocus="" />
                            <br>
                            <input type="text" class="form-control" id="username_reg" name="username" placeholder="Username" required autofocus="" />
                            <br>
                            <input type="text" class="form-control" id="email_reg" name="email" placeholder="Email Address" required autofocus="" />
                            <br>
                            <input type="password" minlength=6 class="form-control" id="pw_reg" name="password" placeholder="Password" required autofocus="" />
                            <br>
                             <input type="password" minlength=6 class="form-control" id="cpw_reg" name="confirm_password" placeholder="Confirm Password" required autofocus="" />
                            <br>
                            <label class="checkbox">
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %} Inscription {% endtrans %}</button>
                            <span id="message_reg"></span>
                        </form>
                    </div>                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>