<div id="search_menu"   class="col-2"> &nbsp;
    <div id="search_menu_link">
        <a id="home_link" href="#"><li><span class="glyphicon glyphicon-globe"></span>{% trans %}Discovery{% endtrans %}</li></a>
        <a class="new_link" href="#"><li>{% trans %}New Songs{% endtrans %}</li></a>
        <a class="top_link" href="#"><li>{% trans %}Top{% endtrans %}</li></a>
        <a href="#"><li>{% trans %}Genre and Mood{% endtrans %}</li></a>
        <a href="#"><li>{% trans %}Recommended{% endtrans %}</li></a>
        <a href="#"><li>{% trans %}Your friends liked{% endtrans %}</li></a>
        <a href="#"><li><span class="glyphicon glyphicon-book"></span>{% trans %}Library{% endtrans %}</li></a>
        <a href="#"><li><span class="glyphicon glyphicon-plus"></span>{% trans %}Create a playlist{% endtrans %}</li></a>
        <a class="playlist_link" href="#"><li><span class="glyphicon glyphicon-play"></span>{% trans %}Playlist{% endtrans %}</li></a>
        <a href="#"><li><span class="glyphicon glyphicon-heart"></span>{% trans %}Party{% endtrans %}</li></a>
        <a href="#"><li><span class="glyphicon glyphicon-heart"></span>{% trans %}Zen{% endtrans %}</li></a>
    </div>
        <img class="" id="player-track-cover" src="img/default-track-pic.png" style="height: auto;">
        <div class="vl1"></div>
</div>


<div id="discovery_home" class="page col-7-5">

    <a href="#" class="link new_link" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6" style="background-image: url('img/home/tuile_nouveaute.png')">
            <div>
                <span class="col-12 span_full tuile_home full_tuile_home_discovery_img">
                    <h2 style="margin-top: -15px">
                        <i class="fa fa-music" style="opacity:0.8; font-size:80px;color:white"></i><br>
                        {% trans %}New songs{% endtrans %}</h2>
                </span>
            </div>

        </div>
    </a>

    <a href="#" class="top_link" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6" style="background-image: url('img/home/tuile_top.png')">
            <div>
                <span class="col-12 span_demi tuile_home demi_tuile_home_discovery_img">
                    <h2 style="margin-top: -15px">
                        <i class="fa fa-trophy" style="opacity:0.8; font-size:60px;color:white"></i><br>
                        {% trans %}Top{% endtrans %}</h2>                </span>
            </div>

        </div>
    </a>

    <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6" style="background-image: url('img/home/tuile_buzzlist.png')">
            <div>
                <span class="col-12 span_demi tuile_home demi_tuile_home_discovery_img">
                    <h2 style="margin-top: -15px">
                        <i class="fa fa-music" style="opacity:0.8; font-size:60px;color:white"></i><br>
                        {% trans %}Buzzlist{% endtrans %}</h2>                </span>
            </div>

        </div>
    </a>

    <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6" style="background-image: url('img/home/tuile_pour_vous.png')">
            <div>
                <span class="col-12 span_cus tuile_home cus_tuile_home_discovery_img">
                    <h2 style="margin-top: -15px">
                        <i class="fa fa-lightbulb" style="opacity:0.8; font-size:60px;color:white"></i><br>
                        {% trans %}Recommendations{% endtrans %}</h2>                    </span>
            </div>

        </div>
    </a>

    <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6" style="background-image: url('img/home/tuile_friends.png')">
            <div>
                <span class="col-12 span_cus tuile_home cus_tuile_home_discovery_img">
                    <h2 style="margin-top: -15px">
                        <i class="fa fa-heart" style="opacity:0.8; font-size:60px;color:white"></i><br>
                        {% trans %}Your friends liked{% endtrans %}</h2>                 </span>
            </div>

        </div>
    </a>



</div>
<div id="top_playlists" class="page col-7-5">

    <div id="top_playlists_playlists" class="top_playlist col-12">
    <h3>{% trans %}International Ranking{% endtrans %}</h3>

    <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_top_case col-6" style="background-image: url('img/top/russie.png')">
            <div>
            <span class="col-12">
                <h2>{% trans %}Russia{% endtrans %}</h2>
            </span>
            </div>

        </div>
    </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/hollande.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Netherlands{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/usa.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}USA{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>
        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/australie.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Australia{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>
        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/egypte.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Egypt{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>
        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/italie.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Italy{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/allemagne.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Germany{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>
        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/france.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}France{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

    <br><br>
    <div id="top_playlists_genres" class=" top_playlist col-12">
        <h3>{% trans %}Top genre{% endtrans %}</h3>
        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/classique.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}Classical music{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/jazz.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}jazz{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/hiphop.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}R&B{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

        <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
            <div class="tuile_top_case col-6" style="background-image: url('img/top/electro.png')">
                <div>
            <span class="col-12">
                <h2>{% trans %}electro{% endtrans %}</h2>
            </span>
                </div>

            </div>
        </a>

    </div>
    </div>
</div>
<div id="artist" class="page col-7-5">
    <img id="img_banner"src="img/artist/banner/banner.jpg">
    <svg class="clip-svg">
        <defs>
            <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
                <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
            </clipPath>
        </defs>
    </svg>
    <div id="artist_pp" class="polygon-each-img-wrap">
        <img src="img/wiz-khalifa-blacc-hollywood.jpg" alt="demo-clip-heptagon" class="polygon-clip-hexagon">
    </div>
    <div id="artist_dtls">
        <h3> <!--<span class="glyphicon glyphicon-play"></span>--></h3>
        <!--100 Followers 100 Following &nbsp; <span class="glyphicon glyphicon-play"></span>-->
    </div>
    <div id="my_playlist">
   <table class="table table-hover">

<thead id="table_playlist_track">

<tr>

<th>{% trans %}n°{% endtrans %}</th>

<th>{% trans %}Title{% endtrans %}</th>

<th>{% trans %}Artist{% endtrans %}</th>

</tr>

</thead>

<tbody id="playlist_track_body">

</tbody>

</table>
    </div>
    <script src="//cdn.jsdelivr.net/prefixfree/1.0.7/prefixfree.min.js"></script>

    <div id="dtls_artist">
        <ul id="menu_artist">
            <a id="go_to_page_son" href="#"><li>{% trans %}Tracks{% endtrans %}</li></a>
            <a id="go_to_page_playlist"href="#"><li>{% trans %}Playlists{% endtrans %}</li></a>
            <hr>
        </ul>
    </div>
    <div class="container col-7-5">
        <div id="page_artist_son" class="page_dtls-artist"></div>
        <div id="page_artist_playlist" class="page_dtls-artist"></div>
    </div>

</div>
<div id="discovery_new" class="page col-7-5">

    <h3>
        {% trans %}Nouveauté{% endtrans %}
    </h3>

    {#<div class="news col-3">
        {#<a href="">#}
            {#<img src="test_new.jpg" alt="" class="col-12">#}
        {#</a>#}
        {#<p class="trackname">Nom track</p>#}
        {#<a href="#" class="artist_link"><p class="tracklistname">Nom Artist</p></a>#}
    {#</div>#}
</div>
<div class="col-2-5" id="live_section">&nbsp;
    <div class="vl"></div>
    <ul>
        <a href="#" id="active_live_section"><li>{% trans %}Live{% endtrans %}</li></a>
        <a href="#" id="active_message_section"><li>{% trans %}Messages{% endtrans %}</li></a>
    </ul>
    <hr style="margin-top: -10px">
    <div id="loader-container-live" class="animated fadeI" style="position:absolute; z-index:999999">
        <p id="loadingText"><img class="col-12 " src="img/logo.png" style="transform:scale(0.7)"></p>
    </div>
    <div id="live_section_screen_live" class="live_section_screen">
        <div class="live_message live_message_post">
        </div>
    </div>
    <div id="live_section_screen_message" class="live_section_screen">{% trans %}Message Part{% endtrans %}</div>
</div>
