<div id="search_menu"   class="col-2"> &nbsp;
    <div id="search_menu_link">

        <a href="x"><li><span class="glyphicon glyphicon-earth"></span>{% trans %}Global Discovery{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}New Songs{% endtrans %} 	</li></a>
        <a href="top"><li>{% trans %}Top{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}Genre and Mood{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}Recommended{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}Your friends liked{% endtrans %} </li></a>
        <a href="x"><li><span class="glyphicon glyphicon-book"></span>{% trans %}Library{% endtrans %}</li></a>
        <a href="x"><li><span class="glyphicon glyphicon-plus"></span>{% trans %}Create a Playlist{% endtrans %}</li></a>
        <a href="x"><li><span class="glyphicon glyphicon-play"></span>{% trans %}Playlist{% endtrans %}</li></a>
        <a href="x"><li><span class="glyphicon glyphicon-heart"></span>{% trans %}Party{% endtrans %}
            {% trans %}Zen{% endtrans %} </li></a>

    <img class="" src="img/wiz-khalifa-blacc-hollywood.jpg">
    </div>
</div>

</div>
<div id="discovery_home" class="col-7-5">

    <a href="#"  data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6">
            <img src='img/home/tuile_nouveaute.png' class="col-12 full_tuile_home_discovery_img">

        </div>
    </a>
    <a href="#" id="top_tuile" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6">
            <img src='img/home/tuile_top.png' class="col-12 demi_tuile_home_discovery_img">

        </div>
    </a>

    <a href="#" id="buzzlist_tuile" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6">
            <img src='img/home/tuile_buzzlist.png' class="col-12 demi_tuile_home_discovery_img">

        </div>
    </a>


    <a href="#" id="pour_vous_tuile" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
    <div class="tuile_home col-6">
        <img src='img/home/tuile_pour_vous.png' class="col-12 cus_tuile_home_discovery_img">

    </div>
    </a>


    <a href="#" id="by_your_friends_tuile" data-toggle="collapse" data-target="#Pour_Vous" aria-expanded="false" aria-controls="Pour_Vous">
        <div class="tuile_home col-6">
            <img src='img/home/tuile_friends.png' class="col-12 cus_tuile_home_discovery_img">

        </div>
    </a>



    <div class="collapse tuile_home_panel_plus col-12 animated fadeInDown" id="Pour_Vous" >
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>


</div>
<div class="col-2-5" id="live_section">&nbsp;
    <div class="vl"></div>
    <ul>
        <a href="x"><li>{% trans %}News feed{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}Live{% endtrans %}</li></a>
        <a href="x"><li>{% trans %}Message{% endtrans %}</li></a>
    </ul>
    <hr style="margin-top: -10px">
</div>
